<div class="table-responsive" style="height: 500px">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Music name</th>
        <th scope="col">Artist name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let musica of musicas">
        <td>{{ musica.nome }}</td>
        <td>{{ musica.artista.nome }}</td>
        <td>
            <input type="checkbox" (click) = "checkedMusic(musica)"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>