<div class="table-responsive" style="height: 500px">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Music name</th>
        <th scope="col">Artist name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="playlist != undefined">
      <tr *ngFor="let object of playlist.playlistMusicas">
        <td>{{ object.musica.nome }}</td>
        <td>{{ object.musica.artista.nome }}</td>
        <td>
            <input type="radio" (click)="checkedMusic(object.musica)"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>