
<app-topo 
    (topoMusicSearch)="buscarMusica($event)"
    (topoPlaylistSearch)="buscarPlaylist($event)" 
></app-topo>
<div class="col-md-12">
    <div class="row">
    
        <div class="col-md-5">
            <app-musica [musicas]="musicasLista"></app-musica>
        </div>
        
        <div class="col-md-1">
            <app-controles 
                (controleIncluirMusica)="incluirMusicasPlaylist()"
                (controleRemoverMusica)="removerMusicasPlaylist()"
            >
            </app-controles>
        </div>

        <div class="col-md-5">
                <app-playlist [playlist]="playlist"></app-playlist>
        </div>
    </div>
</div>

